<ng-template [formGroup]="bankingForm" #inputTemplate let-filter="filter" let-bankingForm="bankingForm">
  <div class="col-12 col-md-6">
    <div class="form-floating">
      <input formControlName={{filter.name}}
        [ngClass]="{'is-invalid': submit && bankingForm.controls[filter.name]?.errors}" type={{filter.type}}
        id="{{filter.name}}Grid" placeholder={{filter.placeholder}} value="" class="form-control" aria-label="Input">
      <label for=" {{filter.name}}Grid">{{filter.label}}</label>
    </div>
    <p class="text-danger p-2 m-0">
      {{submit && bankingForm.controls[filter.name].errors ? filter.label + ' is required' : '' }}
    </p>
  </div>
</ng-template>

<ng-template [formGroup]="bankingForm" #checkboxTemplate let-filter="filter" let-bankingForm="bankingForm">
  <div class="col-6 col-md-6">
    <div class="d-flex border border-1 rounded-2 p-3">
      <div class="form-check m-auto">
        <input formControlName={{filter.name}}
          [ngClass]="{'is-invalid': submit && bankingForm.controls[filter.name]?.errors}" type="checkbox"
          id="{{filter.name}}Grid" class="form-check-input" aria-label="Checkbox">
        <label class="form-check-label" for="{{filter.name}}Grid">
          {{filter.label}}
        </label>
      </div>
    </div>
    <p class="text-danger p-2 m-0">
      {{submit && bankingForm.controls[filter.name].errors ? filter.label + ' is required' : '' }}
    </p>
  </div>
</ng-template>

<ng-template [formGroup]="bankingForm" #selectTemplate let-filter="filter" let-bankingForm="bankingForm">
  <div class="col-6 col-md-6">
    <div class="form-floating">
      <select formControlName={{filter.name}}
        [ngClass]="{'is-invalid': submit && bankingForm.controls[filter.name]?.errors}" id="{{filter.name}}Grid"
        class="form-select" aria-label="Select">
        <option selected disabled value="">Select {{filter.name}}</option>
        <ng-container *ngFor="let option of filter.options let i=index">
          <option value={{option.value}}>{{option.value}}</option>
        </ng-container>
      </select>
      <label for="{{filter.name}}Grid">{{filter.label}}</label>
    </div>
    <p class="text-danger p-2 m-0">
      {{submit && bankingForm.controls[filter.name].errors ? filter.label + ' is required' : '' }}
    </p>
  </div>
</ng-template>

<ng-template [formGroup]="bankingForm" #textareaTemplate let-filter="filter" let-bankingForm="bankingForm">
  <div class="form-floating">
    <textarea formControlName={{filter.name}}
      [ngClass]="{'is-invalid': submit && bankingForm.controls[filter.name]?.errors}" id="{{filter.name}}Grid"
      style="min-height: 5rem" class="form-control" placeholder={{filter.placeholder}}
      aria-label="Text area"></textarea>
    <label for="{{filter.name}}Grid">{{filter.label}}</label>
    <p class="text-danger p-2 m-0">
      {{submit && bankingForm.controls[filter.name].errors ? filter.label + ' is required' : '' }}
    </p>
  </div>
</ng-template>


<div class="container pb-5">
  <p class="fs-7 text-center">{{payload.page}}</p>
  <form *ngIf="payload.filtri.length !== 0" [formGroup]="bankingForm" (ngSubmit)="onSubmit()" novalidate
    class="row g-3 p-4 fs-8">

    <ng-container *ngFor="let filter of payload.filtri">

      <ng-container *ngIf="filter.element === 'input' && filter.type !== 'checkbox'">
        <ng-container *ngTemplateOutlet="inputTemplate; context: {filter, bankingForm}">
        </ng-container>
      </ng-container>


      <ng-container *ngIf="filter.element === 'input' && filter.type === 'checkbox'">
        <ng-container *ngTemplateOutlet="checkboxTemplate; context: {filter, bankingForm}">
        </ng-container>
      </ng-container>

      <ng-container *ngIf="filter.element === 'select'">
        <ng-container *ngTemplateOutlet="selectTemplate; context: {filter, bankingForm}">
        </ng-container>
      </ng-container>

      <ng-container *ngIf="filter.element === 'textarea'">
        <ng-container *ngTemplateOutlet="textareaTemplate; context: {filter, bankingForm}">
        </ng-container>
      </ng-container>

    </ng-container>

    <div class="col-12 d-flex justify-content-end">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
